<div class="container-fluid">
  <div class="row">
    <% if @user.id == current_user.id %>
      <%= render partial: "shared/top_banner", locals: {title: "Welcome, #{@user.nickname}!"} %>
    <% else %>
      <%= render partial: "shared/top_banner", locals: {title: "Welcome to #{@user.nickname}'s profile #{current_user.nickname}!"} %>
    <% end %>
  </div>
  <div class="row profile">
    <section class="col-xs-3">
      <%= image_tag "placeholder.jpg", class:"image" %>
    </section>
    <section class="col-xs-5">
      <h2>Profile</h2>
      <div class="row profile">
        <div class="col-xs-12">
          <span> First Name: </span>
          <span> <%= @user.first_name %> </span>
        </div>
        <div class="col-xs-12">
          <span> Last Name: </span>
          <span> <%= @user.last_name %> </span>
        </div>
        <div class="col-xs-12">
          <span> Telephone: </span>
          <span> <%= @user.telephone %> </span>
        </div>
        <div class="col-xs-12">
          <span> City: </span>
          <span> <%= @user.city %> </span>
        </div>
        <div class="col-xs-12">
          <span> Country: </span>
          <span> <%= @user.country %> </span>
        </div>
        <div class="col-xs-12">
          <span> Address: </span>
          <span> <%= @user.address %> </span>
        </div>
        <div class="col-xs-12">
          <span> Gender: </span>
          <span> <%= @user.gender %> </span>
        </div>
        <div class="col-xs-12">
          <span> Date Of Birth: </span>
          <span> <%= @user.date_of_birth %> </span>
          <% if @age %>
            <span> (<%= @age %>) </span>
          <% end %>
        </div>
        <div class="col-xs-12">
          <span> Occupation: </span>
          <span> <%= @user.occupation %> </span>
        </div>
        <div class="col-xs-12">
          <span> About: </span>
          <span> <%= @user.about %> </span>
        </div>
      </div>
    </section>
    <section class="col-xs-4">
      <h2>Current Communites:</h2>
      <ul class="list-unstyled scrollable">
        <% @user.communities.each do |community| %>
          <li class="container-fluid list-item">
            <div class="row">
              <div class="col-xs-2">
                <a href=<%= "/communities/#{community.id}" %>> <%= image_tag "placholderCommunity.png", class:"thumb" %> </a>
              </div>
              <div class="col-xs-10">
                <p> <strong> <%= community.name %> </strong> </p>
              </div>
              <div class="col-xs-10">
                <p> <strong class="text-capitalize"> <%= community.community_members.first.role %> </strong> </p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</div>
