<div style="padding-top: 20px">
  <div class="border">
    <div class="container-fluid innerBorder">
      <div class="row innermostBorder">
        <div class="col-xs-3">
          <h1 class="center-block title"><%= title %></h1>
        </div>
        <div class="col-xs-3 home">
          <a href="/" class="btn btn-warning userLink"><i class="fa fa-home"></i> Home</a>
        </div>
        <div class="col-xs-3">
          <% if user_signed_in? %>
              <div class="dropdown userOptions">
                <a href="#" class="dropdown-toggle userLink btn btn-warning" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> Account </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", user_path(current_user) %></li>
                  <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                  <li><%= link_to "Create Community", new_community_path %></li>
                  <li><%= link_to "List of Communities", communities_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                </ul>
              </div>
          <% end %>
        </div>
        <div class="col-xs-3">
          <%= image_tag "logo.png", class: "img-responsive center-block imgLogo" %>
        </div>
      </div>
    </div>
  </div>
</div>