<div class="container-fluid">
  <div class="row">
    <%= render partial: "shared/top_banner", locals: {title: "#{@poster.nickname}'s post in #{@community.name}"} %>
  </div>
  <div class="row profile">
    <section class="col-xs-3">
      <div class="row">
        <div class="col-xs-12">
          <a href=<%= "/users/#{@poster.id}" %>> <%= image_tag "placeholder.jpg", class:"image" %> </a>
        </div>
        <div class="col-xs-12">
          <h2> <%= @post.title %> </h2>
          <p> <%= @post.description %> </p>          
        </div>
      </div>
    </section>
    <section class="col-xs-offset-1 col-xs-8">
      <h2>Comments:</h2>
      <ul class="list-unstyled scrollable comments">
        <% @comments.each do |comment| %>
        <li class="container-fluid list-item">
          <div class="row">
            <div class="col-xs-1">
              <a href=<%= "/users/#{comment.user_id}" %>> <%= image_tag "placeholder.jpg", class:"thumb" %> </a>
            </div>
            <div class="col-xs-11">
              <div class="row">
                <div class="col-xs-12">
                  <p> <strong> <%= comment.user.nickname %> </strong> </p>
                </div>
                <div class="col-xs-12">
                  <%= comment.content %>
                </div>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
      <div class="container-fluid">
        <div class="row">
          <%= form_for @new_comment, url: community_post_comments_path(community_id: @community.id, post_id: @post.id), method: :post do |f| %>
          <div class="col-xs-1">
            <%= f.label :content, 'Comment' %>
          </div>
          <div class="col-xs-9">
            <%= f.text_area :content %>
          </div>
          <div class="col-xs-1">
            <%= f.submit %>
          </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>
