<div class="body">
  <div class="page">
    <div class="components">
      <%= render partial: "shared/top_banner", locals: {title: "COMMUNITY"} %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6">
            <%= image_tag "banner.png", class: "img-responsive center-block banner" %>
          </div>
          <div class="col-xs-pull-4 col-xs-6">
            <div class="sappyShit">
              <blockquote>
                No man is an island entire of itself; every man 
                is a piece of the continent, a part of the main; 
                if a clod be washed away by the sea, Europe 
                is the less, as well as if a promontory were, as 
                well as any manner of thy friends or of thine 
                own were; any man's death diminishes me, 
                because I am involved in mankind. 
                And therefore never send to know for whom 
                the bell tolls; it tolls for thee.
                <footer>
                  John Donne
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-push-10 col-xs-2">
            <div>
              <%= image_tag "arrow.png", class: "img-responsive center-block arrowImg" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "center-block link" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-push-10 col-xs-2">
            <div>
              <%= image_tag "arrow.png", class: "img-responsive center-block arrowImg" %>
              <%= link_to "Log In", new_user_session_path, class: "center-block link" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
