<div class="container-fluid">
  <div class="row">
    <%= render partial: "shared/top_banner", locals: {title: "Create Community"} %>
  </div>
  <div class="row profile">
    <section class="col-xs-offset-2 col-xs-8 create">
      <div class="row">
        <div class="col-xs-2">
          <%= image_tag "placholderCommunity.png", class:"changeImg" %>
        </div>
        <div class="col-xs-10 nudgeChangeButton">
          <%= button_tag "Change profile picture"%>
        </div>
      </div>
      <div class="row profile">
        <%= form_for @community do |f| %>
          <div class="col-xs-12">
            <%= f.label :name %>
          </div>
          <div class="col-xs-12">
            <%= f.text_field :name, class: "nameWidth" %>
          </div>
          <div class="col-xs-12">
            <%= f.label :about %>
          </div>
          <div class="col-xs-12">
            <%= f.text_area :about, class: "aboutWidth" %>
          </div>
          <div class="col-xs-12">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
