<div class="container-fluid">
  <div class="row">
    <%= render partial: "shared/top_banner", locals: {title: "#{@community.name}"} %>
  </div>
  <div class="row profile">
    <section class="col-xs-3">
      <div class="row">
        <div class="col-xs-12">
          <%= image_tag "placholderCommunity.png", class:"image" %>
        </div>
        <div class="col-xs-12">
          <h2>Our Community</h2>
          <%= link_to "Create Post", new_community_post_path(community_id: @community.id) %>
          <p>
            <%= @community.about %>
          </p>          
        </div>
      </div>
    </section>
    <section class="col-xs-6">
      <h2>Posts:</h2>
        <ul class="list-unstyled scrollable">
          <% @posts.each do |post| %>
          <li class="container-fluid list-item">
            <div class="row">
              <div class="col-xs-1">
                <a href=<%= "/communities/#{@community.id}/posts/#{post.id}" %>> <%= image_tag "placeholder.jpg", class:"thumb" %> </a>
              </div>
              <div class="col-xs-11">
                <div class="row">
                  <div class="col-xs-12">
                    <p> <strong> <%= post.title %> </strong> </p>
                  </div>
                  <div class="col-xs-12">
                    <p>
                      <%= post.description %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
    </section>
    <section class="col-xs-3">
      <h2>Members:</h2>
      <ul class="list-unstyled scrollable">
        <% @community.users.each do |user| %>
          <li class="container-fluid list-item">
            <div class="row">
              <div class="col-xs-2">
                <a href=<%= "/users/#{user.id}" %>> <%= image_tag "placeholder.jpg", class:"thumb" %> </a>
              </div>
              <div class="col-xs-10">
                <p> <strong> <%= user.nickname %> </strong> </p>
              </div>
              <div class="col-xs-10">
                <p> <strong class="text-capitalize"> <%= user.community_members.first.role %> </strong> </p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</div>
